<mat-card [routerLink]="['/', quiz.id]">
  <mat-card-header>
    <mat-card-title>
      {{ quiz.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <span> created_at </span>
      <span> author </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="clamp-5">Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, enim.
      Perspiciatis quis error iure sed nisi obcaecati, expedita eligendi id cum asperiores quae, atque impedit quo dicta
      odit, facilis ut.</p>
  </mat-card-content>
</mat-card>
